/* root要素 */
html {
    font-size: 20px;
}

section {
    background-color: #fdf0d5;
    width: 400px;
    height: 800px;
}

/* 親要素の大きさに対する割合 */
div {
    background-color: turquoise;
    width: 70%;
    height: 50%;
}

/* 自身の要素の大きさに対する割合 */
h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

h2 {
    font-size: 5em;
    margin-left: 1em;
}

h3 {
    font-size: 1.5em;
}

article {
    font-size: 20px;
}

p {
    font-size: 1em;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: deepskyblue;
    color: white;

}

ul {
    font-size: 0.8em;
}