<% layout("layouts/boilerplate") -%>
<div class="row">
  <h1 class="text-center">キャンプ場の新規登録</h1>
  <div class="offset-3 col-6">
    <form action="/campgrounds" method="POST" class="validated-form" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">キャンプ場名</label
        ><input
          type="text"
          name="campground[title]"
          id="title"
          class="form-control"
          placeholder="キャンプ場名"
          required
        />
        <div class="valid-feedback">ok!</div>
        <div class="invalid-feedback">キャンプ場名を入力してください</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">価格</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">¥</span>
          <input
            type="number"
            name="campground[price]"
            id="price"
            class="form-control"
            placeholder="0"
            aria-describedby="price-label"
            required
          />
          <div class="valid-feedback">ok!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">住所</label
        ><input
          type="text"
          name="campground[location]"
          id="location"
          class="form-control"
          placeholder="住所"
          required
        />
        <div class="valid-feedback">ok!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">画像URL</label
        ><input
          type="text"
          name="campground[image]"
          id="image"
          class="form-control"
          placeholder="画像URL"
          required
        />
        <div class="valid-feedback">ok!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">説明</label
        ><textarea
          name="campground[description]"
          id="description"
          class="form-control"
          placeholder="説明"
          required
        ></textarea>
        <div class="valid-feedback">ok!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">新規登録</button>
      </div>
    </form>
    <div class="mb-3">
      <a href="/campgrounds">一覧に戻る</a>
    </div>
  </div>
</div>
