<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ホーム</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%- include("partials/head") %>
    <h1>ホームページ<%= 1 + 2 + 4 %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aliquam
      eligendi consequatur illo rem libero eius autem hic saepe! Quidem
      explicabo, qui aliquid est dignissimos sequi soluta delectus iure fugit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
      eligendi repudiandae reiciendis unde deserunt quam dolor voluptatibus nemo
      hic eos recusandae ratione pariatur aliquid, possimus sapiente commodi
      aspernatur obcaecati voluptatem!
    </p>
  </body>
</html>
