<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%- include("partials/head") %>
    <h1>ランダムな値: <%= rand %></h1>
    <% if(rand % 2 === 0) { %>
    <h2>偶数だよ!!!</h2>
    <% } else { %>
    <h2>奇数だよ!!!</h2>
    <% } %>
  </body>
</html>
