<% layout('layouts/boilerplate') -%>
<div class="row">
  <div class="offset-3 col-6">
    <h1>ユーザー登録</h1>
    <form action="/register" method="POST" class="validated-form" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">ユーザー名</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          placeholder="ユーザー名"
          required
        />
        <div class="valid-feedback">ok!</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">パスワード</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          placeholder="パスワード"
          required
        />
        <div class="valid-feedback">ok!</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">メールアドレス</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          placeholder="メールアドレス"
          required
        />
        <div class="valid-feedback">ok!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary">登録</button>
      </div>
    </form>
  </div>
</div>
